*{
    margin: 0;
    padding: 0;
    font-family: 'Sometype Mono', monospace;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(90deg,black,darkblue);
}
nav{
    position: absolute;
    top: 0;
    display: none;
    height: 240vh;
    width: 20%;
    color: white;
    background-color: black;
}
li{
    list-style-type: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}
nav li a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
nav li a:hover:not(.active) {
    background-color: rgb(108, 0, 108);;
    color: white;
    }
#perfil{
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 3px solid grey;
}
#Perfil{
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 3px solid grey;
    margin-top: 3%;
    padding: 5%;
}
#Sobre{
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 3px solid grey;
    margin-top: 3%;
    padding: 5%;
}
#Habilidades{
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 3px solid grey;
    margin-top: 3%;
    padding: 5%;
}
#Contatos{
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 3px solid grey;
    margin-top: 3%;
    padding: 5%;
}
#foto{
    height: 200px;
    border-radius: 20px;
}
#icone_menu{
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 4px;
    resize: vertical;
    }
label {
    padding: 12px;
    display: none;
    color: orange;
}
input[type=submit] {
    background-color: #00f79c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }
input[type=submit]:hover {
    background-color:rgb(180, 85, 8);
    }
.container {
    border-radius: 5px;
    background-color: rgb(18, 79, 169);
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    }
.col-75 {
    float: left;
    width: 95%;
    margin-top: 6px;
    }
.col-12{
    width: 100%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
    }
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    }
@media(min-width: 550px){
    .col-12{width:40%}
    label{display: inline-block;font-size: large;}
    input[type=text], select, textarea {width: 70%;}
    .col-75{width: 75%;}
}